/* NOTE: untyped CSS is best for global CSS like this */
body {
  padding: 20px;
}

/* NOTE: the problem with untyped CSS is if another team also uses the same classname, the styles will conflict */
.traditional-button {
  background-color: blue;
  border-radius: 0.25rem;
  border: 0px;
  color: #fff;
  font-size: 1rem;
  line-height: 1.5;
  padding: .375rem .75rem;
}